head {
    background-color: #EEEEEE;
    font-family: Helvetica;
}
#container{
    width: 90%;
    margin: auto;
}
#logo, menu{
    background-color: lightblue;
    height: 100px;
    width: 50%;
    padding: 10px 10px;
    display: flex;
}
#baner{
    background-color: #DDDDDD;
    height: 200px;
}
main{
    font-family: Navy;
    margin: 50px;
    height: 400px;
}
footer{
    text-align: right;
    background-color: lightblue;
    padding: 10px;
}
a{
    background-color: lightblue;
    font-family: Navy;
}